build/
!.mvn/wrapper/maven-wrapper.jar
/node_modules
/.gradle/
/out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
node_modules/
src/main/resources/templates/
